In [12]:
import pandas as pd
import numpy as np

In [64]:
# Load the data from csv file. For consistency, will use pre generated files

data1_url = ("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/datasets/dataset_part_1.csv")

df1 = pd.read_csv(data1_url)

In [65]:
# Calculate the percentage of missing values for each atribute

df1.isnull().sum()/len(df1)*100

FlightNumber       0.000000
Date               0.000000
BoosterVersion     0.000000
PayloadMass        0.000000
Orbit              0.000000
LaunchSite         0.000000
Outcome            0.000000
Flights            0.000000
GridFins           0.000000
Reused             0.000000
Legs               0.000000
LandingPad        28.888889
Block              0.000000
ReusedCount        0.000000
Serial             0.000000
Longitude          0.000000
Latitude           0.000000
dtype: float64

In [66]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   FlightNumber    90 non-null     int64
 1   Date            90 non-null     object
 2   BoosterVersion  90 non-null     object
 3   PayloadMass     90 non-null     float64
 4   Orbit           90 non-null     object
 5   LaunchSite      90 non-null     object
 6   Outcome         90 non-null     object
 7   Flights         90 non-null     int64
 8   GridFins        90 non-null     bool
 9   Reused          90 non-null     bool
 10  Legs            90 non-null     bool
 11  LandingPad      64 non-null     object
 12  Block           90 non-null     float64
 13  ReusedCount     90 non-null     int64
 14  Serial          90 non-null     object
 15  Longitude       90 non-null     float64
 16  Latitude        90 non-null     float64
dtypes: bool(3), float64(4), int64(3), object(7)
memory usage: 10.2+ KB

#### TASK 1: Calculate the number of launches on each site

In [67]:
df1["LaunchSite"].value_counts()

LaunchSite
CCAFS SLC 40    55
KSC LC 39A      22
VAFB SLC 4E     13
Name: count, dtype: int64

#### TASK 2: Calculate the number and occurrence of each orbit

In [68]:
df1["Orbit"].value_counts()

Orbit
GTO      27
ISS      21
VLEO     14
PO        9
LEO       7
SSO       5
MEO       3
HEO       1
ES-L1     1
SO        1
GEO       1
Name: count, dtype: int64

#### TASK 3: Calculate the number and occurence of mission outcome of the orbits

In [77]:
landing_outcomes = df1["Outcome"].value_counts()
landing_outcomes

Outcome
True ASDS      41
None None      19
True RTLS      14
False ASDS      6
True Ocean      5
False Ocean     2
None ASDS       2
False RTLS      1
Name: count, dtype: int64

In [78]:
#Print all of the different types of landing outcomes

for i, outcome in enumerate(landing_outcomes.keys()):
    print(i,outcome)

0 True ASDS
1 None None
2 True RTLS
3 False ASDS
4 True Ocean
5 False Ocean
6 None ASDS
7 False RTLS

In [95]:
# Make a list of bad landing outcomes

bad_outcomes = set(landing_outcomes.index[landing_outcomes.index.str.contains("False|None", case=False)])
bad_outcomes

{'False ASDS', 'False Ocean', 'False RTLS', 'None ASDS', 'None None'}

In [112]:
# Define a new list, landing_class, and populate it based on whether or not a landing was successful, based on the values in the 
# "Outcome" column

landing_class = []

for outcome in df1["Outcome"]:
    if outcome in bad_outcomes:
        landing_class.append(0)
    else:
        landing_class.append(1)

In [116]:
# Create a new column in the dataframe called "Class", and populate it with the values from the landing_class list

df1["Class"] = landing_class

In [123]:
df1["Class"].value_counts()

Class
1    60
0    30
Name: count, dtype: int64

In [124]:
# Save the new dataframe to a csv file

df1.to_csv("dataset_part_2.csv", index=False)